@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar styles */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #eecbff;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(67, 0, 100);
  background: linear-gradient(
    180deg,
    rgba(67, 0, 100, 1) 0%,
    rgba(103, 0, 155, 1) 61%,
    rgba(255, 255, 255, 1) 84%,
    rgba(103, 0, 155, 1) 100%
  );
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #430064;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: #eecbff !important;
}
