@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9ebff;
}

/* Scroll Bar styles */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #e0a8fc;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(67, 0, 100);
  background: linear-gradient(
    180deg,
    rgb(130, 0, 196) 0%,
    rgba(103, 0, 155, 1) 61%,
    rgba(255, 255, 255, 1) 84%,
    rgb(221, 159, 255) 100%
  );
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #430064;
  cursor: pointer;
}
/* End of scrollbar */

/* Swiper js styles */
.swiper-button-next,
.swiper-button-prev {
  color: #eecbff !important;
}

.swiper-pagination-bullet:active,
.swiper-pagination-bullet-active:active {
  color: #67009b !important;
}

/* Card effect */
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  color: rgb(82, 82, 82);
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.card .background-effect {
  bottom: 0;
  height: 0px;
  width: 0px;
}

.card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}

.card:hover .background-effect {
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #67009b;
  animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%;
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%;
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%;
  }
}
/* End ofCard effect */

/* Markdown styles */
.markdown-view h3, 
.markdown-view h4 {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  word-wrap: break-word;
}

.markdown-view p {
  margin: 1rem 0;
  font-size: 1.2rem;
  line-height: 1.7;
  word-wrap: break-word;
}

.markdown-view img {
  margin: 3rem 0;
  border-radius: 10px;
}

.markdown-view ul {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  word-wrap: break-word;
  list-style: circle;
}

.markdown-view ol {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
  word-wrap: break-word;
  list-style-type: lower-latin;
}

.markdown-view li {
  margin: 1px 0 0 35px;
  word-wrap: break-word;
}

.markdown-view pre {
  margin: 2rem 0;
  padding: 2rem;
  background-color: #2b0e3a;
  color: white;
  border-radius: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.markdown-view a {
  color: #6633ff;
  word-wrap: break-word;
}
